extends topmenu/alsus_menu.pug
block content-header
    .panel-header.panel-header-sm 
block content
    .row
        .col-md-12
            .card
                .card-header
                    include notification.pug
                    h4.card-title  Data Realisasi Alsus Intelijen
                    a.btn.btn-info.btn-round.card-title(href='/alsus/realisasiadd' role='button')
                        i.now-ui-icons.ui-1_simple-add
                        |  Tambah      
                .card-body
                    .table-responsive
                        table#datatables.table
                            thead.text-primary
                                th
                                    | No
                                th
                                    | Satwil
                                th
                                    | Tahun
                                th
                                    | Bulan 
                                th
                                    | Jumlah Realisasi Alsus
                                th(style="width: 30%")
                                    | Uraian
                                th
                                    | Action
                                 
                            tbody
                                each val, index in data
                                    tr
                                        td= index+1 
                                        td= val["bulan_realisasi_alsus"]+"/"+val["tahun_realisasi_alsus"]
                                        td= val["nama_satwil"] 
                                        td= val["jumlah_realisasi_alsus"] 
                                        td= val["uraian_realisasi_alsus"]
                                        td
                                            a.btn.btn-primary.btn-round(href='/alsus/realisasi/edit/'+ val["id_realisasi_alsus"] role='button')
                                                i.now-ui-icons.design-2_ruler-pencil
                                                |  Edit
                                            |  
                                            a.btn.btn-danger.btn-round(href='/alsus/realisasidelete/'+ val["id_realisasi_alsus"] role='button')
                                                i.now-ui-icons.ui-1_simple-remove
                                                |  Delete
    script.
        $(document).ready( function () {
            var months = [ "Januari", "Februari", "Maret", "April", "Mei", "Juni", 
           "Juli", "Augustus", "September", "Oktober", "November", "Desember" ];
            var t = $('#datatables').DataTable({
                "order": [[ 1, "asc" ]],
                "processing": true,
                "language": {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '},
                "serverSide": true,
                "ajax": "/api/alsus/rdata", 
                "columnDefs": [ {
                                    "targets": -1,
                                    "data": null,
                                    "render": function ( data, type, row ) {
                                                    return  "<a class='btn btn-sm btn-danger btn-round' href='/alsus/realisasidelete/"+ data[0] +"' role='button'>"+
                                                            "<i class='now-ui-icons ui-1_simple-remove'></i> Delete</a></td>";
                                                },
                                },
                                {
                                    "targets": 3,
                                    "data": null,
                                    "render": function ( data, type, row ) {
                                                    return  months[data[3]];
                                                },
                                } ],
                dom: 'Bfrtip',
                buttons: [
                            {
                                extend: 'print',
                                text: 'Print',
                                className: 'btn btn-primary btn-sm',
                                action: serverSideButtonAction
                            },
                            {
                                extend: 'copy',
                                text: 'Copy',
                                className: 'btn btn-warning btn-sm',
                                action: serverSideButtonAction
                            },
                            {
                                extend: 'excel',
                                text: 'Excel',
                                className: 'btn btn-success btn-sm',
                                action: serverSideButtonAction
                            },
                            {
                                extend: 'pdf',
                                text: 'pdf',
                                className: 'btn btn-info btn-sm',
                                action: serverSideButtonAction
                            }
                        ]
            });
              t.on( 'draw.dt', function () {
                var PageInfo = $('#datatables').DataTable().page.info();
                    t.column(0, { page: 'current' }).nodes().each( function (cell, i) {
                        cell.innerHTML = i + 1 + PageInfo.start;
                        t.cell(cell).invalidate('dom');
                    } );
                } );

            function serverSideButtonAction(e, dt, node, config) {
 
                var me = this;
                var button = config.text.toLowerCase();
                if (typeof $.fn.dataTable.ext.buttons[button] === "function") {
                    button = $.fn.dataTable.ext.buttons[button]();
                }
                var len = dt.page.len();
                var start = dt.page();
                dt.page(0);
        
                dt.context[0].aoDrawCallback.push({
                    "sName": "ssb",
                    "fn": function () {
                        $.fn.dataTable.ext.buttons[button].action.call(me, e, dt, node, config);
                        dt.context[0].aoDrawCallback = dt.context[0].aoDrawCallback.filter(function (e) { return e.sName !== "ssb" });
                    }
                });
                dt.page.len(999999999).draw();
                setTimeout(function () {
                    dt.page(start);
                    dt.page.len(len).draw();
                }, 500);
            }

        } );