extends topmenu/alsus_menu.pug
block content-header
    .panel-header.panel-header-sm 
block content
      .row
        .col-md-12
            .card
                .card-header
                    include notification.pug
                    h4.card-title  Data Realisasi Alsus Intelijen
                    a.btn.btn-info.btn-round.card-title(href='/alsus/realisasiadd' role='button')
                        i.now-ui-icons.ui-1_simple-add
                        |  Tambah      
                .card-body
                    .table-responsive
                        table#datatable.table
                            thead.text-primary
                                th
                                    | No
                                th
                                    | Bulan / Tahun
                                th
                                    | Satwil
                                th
                                    | Jumlah Realisasi Alsus
                                th(style="width: 30%")
                                    | Uraian
                                th
                                    | Action
                                 
                            tbody
                                each val, index in data
                                    tr
                                        td= index+1 
                                        td= val["bulan_realisasi_alsus"]+"/"+val["tahun_realisasi_alsus"]
                                        td= val["nama_satwil"] 
                                        td= val["jumlah_realisasi_alsus"] 
                                        td= val["uraian_realisasi_alsus"]
                                        td
                                            a.btn.btn-primary.btn-round(href='/alsus/realisasi/edit/'+ val["id_realisasi_alsus"] role='button')
                                                i.now-ui-icons.design-2_ruler-pencil
                                                |  Edit
                                            |  
                                            a.btn.btn-danger.btn-round(href='/alsus/realisasidelete/'+ val["id_realisasi_alsus"] role='button')
                                                i.now-ui-icons.ui-1_simple-remove
                                                |  Delete