extends topmenu/dataprodukintelhome.pug
block content-header 
    .panel-header.panel-header-sm
block content
      .row
        .col-md-12
            .card
                .card-header
                    h4.card-title  #{title} 
                    include notification.pug
                    a.btn.btn-info.btn-round.card-title(href='/dataprodukkeluaradd/'+id_jenis_produk_keluar  role='button')
                        i.now-ui-icons.ui-1_simple-add
                        |  Tambah    

                .card-body
                    .table-responsive
                        table#datatable.table
                            thead.text-primary
                                th
                                    | No
                                th
                                    | Satwil
                                th
                                    | Nomor
                                th
                                    | Tanggal
                                th
                                    | Kepada
                                th
                                    | Perihal
                                th
                                    | Action
                                 
                            tbody
                                each val, index in data
                                    tr
                                        td= index+1 
                                        td= val["nama_satwil"] 
                                        td= val["nomor_produk_keluar"]
                                        td= moment(val["tanggal_produk_keluar"]).format('DD/MM/YYYY')
                                        td= val["kepada_produk_keluar"]
                                        td= val["perihal_produk_keluar"] 
                                        td
                                             
                                            a.btn.btn-danger.btn-round(href='/dataprodukkeluardelete/'+ val["id_jenis_produk_keluar"] +'/' + val["id_produk_keluar"] role='button')
                                                i.now-ui-icons.ui-1_simple-remove
                                                |  Delete