extends topmenu/dataprodukintelhome.pug
block content-header 
    .panel-header.panel-header-sm
block content
      .row
        .col-md-12
            .card
                .card-header
                    if notification
                        .alert.alert-danger
                            button.close(type='button' aria-hidden='true')
                                i.now-ui-icons.ui-1_simple-remove
                            span
                                b  #{notification}
                    h4.card-title  #{title} Terdistribusi ke Satuan Kepolisian lain (IKU4)
                    a.btn.btn-info.btn-round.card-title(href='/dataprodukkeluaradd1/'+id_jenis_produk_keluar  role='button')
                        i.now-ui-icons.ui-1_simple-add
                        |  Tambah      
                    // Example single danger button
                    //.btn-group
                        button.btn.btn-info.btn-round.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            |    Pilih Filter Satwil
                        .dropdown-menu
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            a.dropdown-item(href='#') Something else here
                            .dropdown-divider
                            a.dropdown-item(href='#') Separated link

                .card-body
                    .table-responsive
                        table.table
                            thead.text-primary
                                th
                                    | No
                                th
                                    | Nomor
                                th
                                    | Tanggal
                                th
                                    | Kepada
                                th
                                    | Perihal
                                th
                                    | Action
                                 
                            tbody
                                each val, index in data
                                    tr
                                        td= index+1 
                                        td= val["nomor_produk_keluar"]
                                        td= moment(val["tanggal_produk_keluar"]).format('DD/MM/YYYY')
                                        td= val["kepada_produk_keluar"]
                                        td= val["perihal_produk_keluar"] 
                                        td
                                            //a.btn.btn-primary.btn-round(href='./dataprodukintel/'+ val["id_potensi_gangguan"] role='button')
                                                i.now-ui-icons.files_paper
                                                |  Detail
                                            //| 
                                            //a.btn.btn-primary.btn-round(href='./dataprodukintel/'+ val["id_data_produk_intelijen"] role='button')
                                                i.now-ui-icons.design-2_ruler-pencil
                                                |  Edit
                                            //|  
                                            a.btn.btn-danger.btn-round(href='/dataprodukkeluar1delete/'+ val["id_jenis_produk_keluar"] +'/' + val["id_produk_keluar"] role='button')
                                                i.now-ui-icons.ui-1_simple-remove
                                                |  Delete