extends topmenu/dataprodukintelhome.pug
block content-header 
    .panel-header.panel-header-sm
block content
    .row
        .col-md-12
            .card
                .card-header
                    h4.card-title  Pengiriman Produk Intelijen (IKU3)
                    include notification.pug
                    a.btn.btn-info.btn-round.card-title(href='/pengirimanproduk/add'  role='button')
                        i.now-ui-icons.ui-1_simple-add
                        |  Tambah      
                    // Example single danger button
                    //.btn-group
                        button.btn.btn-info.btn-round.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            |    Pilih Filter Satwil
                        .dropdown-menu
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            a.dropdown-item(href='#') Something else here
                            .dropdown-divider
                            a.dropdown-item(href='#') Separated link

                .card-body
                    .table-responsive
                        table#datatables.table
                            thead.text-primary
                                th
                                    | No
                                th
                                    | Satwil
                                th
                                    | Nomor
                                th
                                    | Tanggal 
                                th
                                    | Produk
                                th
                                    | Perihal
                                th
                                    | Action
                                 
                            tbody
                                each val, index in data
                                    tr
                                        td= index+1 
                                        td= val["nama_satwil"] 
                                        td= val["nomor_produk_keluar"]
                                        td= moment(val["tanggal_pengiriman_produk_intelijen"]).format('DD/MM/YYYY') 
                                        td= val["nama_produk_intelijen"] 
                                        td= val["perihal_pengiriman_produk_intelijen"] 
                                        td
                                             
                                            a.btn.btn-danger.btn-round(href='/pengirimanprodukdelete/'+ val["id_pengiriman_produk_intelijen"] role='button')
                                                i.now-ui-icons.ui-1_simple-remove
                                                |  Delete

    script.
        $(document).ready( function () {
            function truncateString(str, num) {
                if (str.length <= num) {
                    return str
                }
                return str.slice(0, num) + '...'
            }

            var t = $('#datatables').DataTable({
                "order": [[ 1, "asc" ]],
                "processing": true,
                "language": {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '},
 
                "serverSide": true,
                "ajax": "/api/pengirimanproduk/data" , 
                "columnDefs": [ {
                                    "targets": -1,
                                    "data": null,
                                    "render": function ( data, type, row ) {
                                                    return  "<a class='btn btn-danger btn-sm btn-round' href='/pengirimanprodukdelete/"+ data[0] +"' role='button'>"+
                                                            "<i class='now-ui-icons ui-1_simple-remove'></i> Delete</a></td>";
                                                },
                                },
                                {
                                    "targets": 3,
                                    "data": null,
                                    "render": function ( data, type, row ) {
                                                    moment.locale('id') 
                                                    return  moment(data[3]).format('LL') ;
                                                },
                                },
                                 
                              ],
                                 
                dom: 'Bfrtip',
                buttons: generateButton()
            });
            t.on( 'draw.dt', function () {
                var PageInfo = $('#datatables').DataTable().page.info();
                createIndex(t,PageInfo);
            });

        } );